<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>贷款计算器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18127E5B1D2F4E9000847CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18127E741D2F4E9000847CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18127E7F1D2F4E9100847CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
